body{

  background: url(index.png),url(index.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.large-header {
	position: absolute;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
    background: url(index.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main-title {
	position: absolute;
	margin-top:20px;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
    -webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	top: 40%;
	left: 40%;
	
    font-family: 'Open Sans Condensed', sans-serif;  
    font-size: 50px;
}


    span {
        font-family: 'Karla', sans-serif;
        font-size: 57px;
    }
.menu-nav {
    color: white;
}
.btn-default{
    color:white;
    background:transparent;
    border-color:none;
    border-radius:4px;
    font-size: 30px;
}
.btn:hover{
    color:white;
    background:rgba(0,0,0,0.5)
}
#student, #organisation, #main {
    margin-top: 10px;
    width: 400px;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color:rgba(0,0,0,0.3);
  font-size: 30px;
}
footer > .left-content > a {
    text-decoration: none;
    float: left;
    color: lightgrey;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 5px;
}

footer > .right-content > a {
    text-decoration: none;
    float: right;
    color: lightgrey;
    margin: 5px;
    font-size: 20px;
}

