#loading{
background-color: #bd4932;
height: 100%;
width: 100%;
position: fixed;
z-index: 1;
margin-top: 0px;
top: 0px;
}
#loading-center{
  width: 100%;
  height: 100%;
  position: relative;
}
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
}
#object{
  width: 80px;
  height: 80px;
  background-color: #FFF;
  -webkit-animation: animate 1s infinite ease-in-out;
  animation: animate 1s infinite ease-in-out;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}
@-webkit-keyframes animate {
  0% { -webkit-transform: perspective(160px); }
  50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
  100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes animate {
  0% { 
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg); 
  } 50% { 
    transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
  } 100% { 
    transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
  }
}
*:focus {
	outline: none!important;
} 
body { 

  background: url(index.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  
  overflow-x: hidden; 
}
/* Navigation Bar */

.row {
	
	margin-top:16%;
	background-color: transparent;
	text-align: center; 
	margin-bottom: 20px;
	
}
.connect {
  font-family: 'Karla', sans-serif;
  font-size: 78px;
  color: #fff;
  text-align: center;
}
/* Main page content ends */
.opportunities {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 73px;
	color: #fff;	
  text-align: center;
}

h5{ 
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
}
/* Ghost Button */
.btn-default{

	background: transparent;
	width: 300px;
}
.btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
a {
    color: white;
    text-decoration: none;
	margin: 5px;
}

a:hover 
{
    color: white; 
    text-decoration:none; 
    cursor:pointer;  
}
footer {
  
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color:rgba(0,0,0,0.3);
  font-size: 30px;
}
footer > .left-content > a {
    text-decoration: none;
    float: left;
    color: lightgrey;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 5px;
}

footer > .right-content > a {
    text-decoration: none;
    float: right;
    color: lightgrey;
    margin: 5px;
    font-size: 20px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color:rgba(0,0,0,1);
  font-size: 30px;
}
footer > .right-content > a {
    text-decoration: none;
    float: left;
    color: lightgrey;
    margin: 5px;
    font-size: 20px;
}
.connect {
  font-family: 'Karla', sans-serif;
  font-size: 50px;
  color: #fff;
  text-align: center;
}
/* Main page content ends */
.opportunities {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 48px;
  color: #fff;  
  text-align: center;
}
}

/* Footer Style */
